@charset "utf-8";
.row .col {
	display: inline-block;
}
.col.right ul li {
	list-style-type: none;
	background-color: rgba(157,197,206,0.58);
	margin-top: 3px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border-radius: 6px;
	height: 1.4em;
}
#add    {
	list-style-type: none;
	background-color: rgba(74,150,133,0.58);
	margin-top: 8px;
	margin-right: 3px;
	margin-bottom: 16px;
	margin-left: 3px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	border-radius: 6px;
	height: 1.4em;
}
ul li label {
	width: 27em;
	min-width: 27em;
}

.col.right ul {
	border: 4px solid rgba(0,0,0,1.00);
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: rgba(168,190,190,0.47);
	height: 21em;
	max-height: 100vh;
	max-width: 100vw;
	width: 61em;
	border-radius: 6px;
	overflow-x: auto;
}

ul li img {
	width: 1em;
	height: 1em;
	margin-right: 5px;
	position: relative;
	top: 3px;
	left: 4px;
}
ul li input.png  {
	width: 1.3em;
	height: 1.3em;
	margin-right: 5px;
	position: relative;
	top: 3px;
	left: 4px;
	float: right;
	clear: both;
}
.asPl .png  {
	width: 1em;
	height: 1em;
	margin-right: 5px;
	position: relative;
	top: 3px;
	left: 4px;
}

ul li .asPl {
	display: inline;
	float: right;
	margin-right: 7px;
}
ul li .txtKeyword {
	width: 51em;
}
#add .addKeyword  {
	width: 64em;
	margin-left: 25px;
}
